<nav class="navbar navbar-light bg-light text-center d-flex justify-content-center">
  
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/reviews/new">New Review</a>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  </div>
</nav>